<section class="timeline__container">
  <div class="timeline_content_container">
    <!-- <div class="timeline__toolbar"></div> -->
    <div class="timeline__content">
      <div class="timeline__items timeline__menu">
        <div class="timeline_items_button_container">
          <button mat-button routerLink="/feed/feed-time-line" routerLinkActive="active-button">Home</button>
          <button mat-button routerLink="/feed/feed-explore" routerLinkActive="active-button">Explore</button>
          <button mat-button routerLink="/feed/feed-notifications" routerLinkActive="active-button">Notifications</button>
          <button mat-button routerLink="/feed/feed-messages" routerLinkActive="active-button">Messages</button>
        </div>
      </div>
      <div class="timeline__items timeline__feed">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
