<section class="login__container">
  <div class="login__access_section_container">
    <div class="login__access_section">
      <div class="login__logo_container">
        <img src="/assets/svg/family.svg" width="90%" alt="">
        <img src="/assets/FamilyFeed.png" width="70%" alt="">
        <p>Comparte momentos familiares.</p>
      </div>
      <div class="login__button_container">
        <button mat-button class="google" routerLink="/feed" >Google</button>
        <button mat-button class="facebook">Facebook</button>
      </div>
    </div>
  </div>
</section>
