.login__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(37, 145, 251, 0.98) 0.1%, hsl(252deg 100% 25% / 95%) 99.8%);
}

.login__access_section_container {
    max-height: 100%;
    width: 450px;
    padding: 50px;
}

.login__access_section {
    min-height: 700px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.login__button_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
}

button {
    width: 90%;
    height: 60px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: medium;
    transition: .2s;
}

button:hover {
    transform: scale(1.02);
}

button.google {
    background-color: #DB4437;
    color: white;
}

button.facebook {
    background-color: #0165E1;
    color: white;
}

.login__logo_container {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.login__logo_container p {
    font-size: 22px;
    color: grey;
    font-weight: 300;
}