<section class="login__container">
  <div class="general__center_content">
    <div class="login__card_container">
      <div class="login__card">
        <div class="login__card_header">
          <h1>FAMILY<strong>FEED</strong></h1>
        </div>

        <div class="login__card_button_container">
          <p>Inicia sesión con tu cuenta preferida</p>
          <button mat-button class="login__button login__google_button" routerLink="/feed/feed-time-line">
            Google
          </button>
          <button mat-button class="login__button login__facebook_button">
            Facebook
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
