<div class="menu_bar__container">
  <div class="menu_bar_card_container">
    <div class="menu_bar_card">
      <h1 class="menu_bar__logo">Family<strong>Feed</strong></h1>
      <div class="menu_bar__button_container">
        <button mat-button routerLink="time-line" routerLinkActive="menu_bar__active">Time Line</button>
        <button mat-button routerLink="explore" routerLinkActive="menu_bar__active">Explore</button>
        <button mat-button routerLink="notifications" routerLinkActive="menu_bar__active">Notifications</button>
        <button mat-button routerLink="messages" routerLinkActive="menu_bar__active">Messages</button>
        <button mat-button>Profile</button>
      </div>
      <div class="menu_bar__user_info">
        <div class="circular--portrait">
          <img src="assets/avatar_example.jpeg" alt="">
        </div>
        <h3>Hans Vergara</h3>
      </div>
    </div>
  </div>
</div>
